<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monstr - Monster Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Creepster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Welcome to <%= user.userName %>'s Profile Page</h1>
    <div class="actions">
      <a class="buttonize" href="/auth/signup">Sign Up</a>
      <a class="buttonize" href="/auth/login">Log In</a>
      <a class="buttonize" href="/posts">News Feed</a>
      <a class="buttonize" href="/posts/new">New Post</a>
      <a class="buttonize" href="/users">See All Users</a>
    </div>
    <form action="/users/<%=user.id%>?_method=PUT" method="POST">
      First Name:
      <input type="text" name="fname" value="<%=user.fname%>" /><br />
      <br />
      Last Name:
      <input type="text" name="lname" value="<%=user.lname%>" /><br />
      <br />
      User Name:
      <input type="text" name="userName" value="<%=user.userName%>" /><br />
      <br />
      Email Address:
      <input
        type="email"
        name="email"
        size="30"
        value="<%=user.email%>"
      /><br />
      <br />
      Profile Picture:
      <input
        type="url"
        name="profilePic"
        size="25"
        value="<%=user.profilePic%>"
      /><br />
      <br />
      About Me:
      <textarea rows="5" cols="50" name="description">
        <%=user.description%>
      </textarea>
      <br /><br />
      <input type="submit" class="buttonize" value="Save Changes" />
    </form>
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
      <input class="buttonize" type="submit" value="Delete Monster" />
    </form>

    <br /><br />
    <a href="/users">Back to Monstr</a>
  </body>
</html>
