<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monstr - Monster Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Creepster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Welcome to <%= user.userId %>'s Profile Page</h1>

    <form action="/users/<%=user.id%>?_method=PUT" method="POST">
      First Name:
      <input type="text" name="fname" value="<%=user.fname%>" /><br />
      <br />
      Last Name:
      <input type="text" name="lname" value="<%=user.lname%>" /><br />
      <br />
      User ID:
      <input type="text" name="userId" value="<%=user.userId%>" /><br />
      <br />
      Password:
      <input type="text" name="password" value="<%=user.password%>" /><br />
      <br />
      Email Address:
      <input type="text" name="email" value="<%=user.email%>" /><br />
      <br />
      Profile Picture:
      <input type="url" name="profilePic" value="<%=user.profilePic%>" /><br />
      <br />
      About Me:
      <input
        type="text"
        name="description"
        value="<%=user.description%>"
      /><br />
      <br />
      <input type="submit" value="Save Changes" />
    </form>
    <br />
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete User" />
    </form>

    <br /><br />
    <a href="/users">Back to Homepage</a>
  </body>
</html>
